!!! 5
%html
  %head
    %title Hash It
    %link{:rel => "stylesheet", :href => "hashit.css", :type => "text/css"}
  %body
    %h1 Hash It
    = yield
  #footer
    %p
      %a.github{:href => "https://github.com/danabr/hashit"} Github
